.header__bar {
	background: #000;
	padding: 6px 0;

	.menu a {
		font-size: 14px;
		font-weight: bold;
	}
}

.header__main {
	padding: 50px 0;
}

.menu--social {

}

.menu--main {
	float: right;

	& > li {

	}

	& > li > a {
		color: #181818;

		&:hover,
		&:focus {
			color: #3adb76;
		}
	}

	& > li.active a {
		color: #f8f8f8;
	}
}